   ______     __   __     ______     __     ______     __         ______
  /\  __ \   /\ "-.\ \   /\  ___\   /\ \   /\  == \   /\ \       /\  ___\
  \ \  __ \  \ \ \-.  \  \ \___  \  \ \ \  \ \  __<   \ \ \____  \ \  __\
   \ \_\ \_\  \ \_\\"\_\  \/\_____\  \ \_\  \ \_____\  \ \_____\  \ \_____\
    \/_/\/_/   \/_/ \/_/   \/_____/   \/_/   \/_____/   \/_____/   \/_____/


{% for item in motd_info %}
{% for key, value in item.items() | list %}
{{ key }}{{ value }}
{% endfor %}
{% endfor %}
